/* Menu acordeon */
  .AcordM {
    margin-bottom: 9em;
   }

   .bizc {
    margin-bottom: 10em;
   }

   .Ultimo {
    margin-bottom: 2em;
   }
   
   .accordion {
      background-color: lightgray;
      color: black;
      cursor: pointer; /* diseño del cursor al ponerse sobre algo clickeable */
      padding: 1.25em;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 1em;
      transition: 0.4s; /* Tiempo que demora en hacer el efecto visual */
    }
    
    .OpcionP {
      background-color: #163850;
      color: white;
    }
    
  
    .accordion:hover { /* hover es cuando pones el cursor sobre algo (al hacr click o no) */
      background-color: white;
      color: black;
    }
  
    .panel {
      width: 100%;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: 0.2s ease-out; /* Ease-out hace que la transicion termine de manera suave/lenta */
    }

    .panel p {
      margin-left: 1em;
      text-decoration: none;
    }

/* Para la estetica del pie de pagina */
  img {
    height: 100%;
  }

/* Pie de pagina */
  .Pie_Pagina {
    display: grid;
    grid-template-columns: auto auto auto; /* Cada auto corresponde a una columna (pueden agregarse y quitarse a gusto) */
    background-color: #163850;
    color: white;
    margin-top: 2em;
  }
  .Redes, .Ubicacion {
    border: none;
    padding: 1em;
    text-align: center;
    font-size: 20px;
  }
