.boxf1{
  background-color: rebeccapurple;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.boxf2{
  background-color: red;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.noOpacidad{
  opacity: 0;
}

.aparecer{
 animation-name: aparecer;
 animation-duration: 1s;
}


.desaparecer{
  animation-name: desaparecer;
  animation-duration: 1s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
}
  20%{
    opacity: 0.2;
  }
  40%{
    opacity: 0.4;
  }
  60%{
    opacity: 0.6;
  }
  80%{
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    display: block;
}
}

@keyframes desaparecer {
  0% {
    opacity: 1;
}
  20%{
    opacity: 0.8;
  }
  40%{
    opacity: 0.6;
  }
  60%{
    opacity: 0.4;
  }
  80%{
    opacity: 0.2;
  }
  100% {
    opacity: 0;
    display: none;
}
}